.eventpage-container {
  width: 1080px;
}

.categorypage-container h1 {
  color: red;
  text-align: center;
}

.related-title {
  color: black;
  text-decoration: none;
}

.related-ul {
  list-style-type: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 40px;
}

.related-list-item {
  list-style: none;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 15px;
  background: white;
  text-align: center;
  min-height: 160px;
  margin: 10px 10px;
}
