.dashboard-container {
  width: 700px;
}

hr {
  width: 100%;
  border: 1px solid red;
  margin: 30px 0px 30px 0px;
}

.hero-title-text {
  color: red;
  text-align: center;
}

.article-title {
  color: black;
}

.article-ul {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 40px;
}

.article-list-item {
  list-style: none;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 15px;
  background: white;
  text-align: center;
  min-height: 160px;
  margin: 10px 10px;
}

.article-buttons {
  width: 50px;
}

.subregion-title {
  color: black;
  justify-content: right;
  text-align: right;
}

.subregion-ul {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 40px;
}

.subregion-item {
  list-style: none;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 15px;
  background: white;
  text-align: center;
  min-height: 128px;
  padding: 5px;
  margin: 20px 20px;
}

.subregion-img {
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 125px;
  height: 125px;
  vertical-align: middle;
}

.categorylist-container {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.category-title {
  color: black;
}

.category-ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
}

.category-item {
  list-style: none;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 15px;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

@media only screen and (min-width: 768px) {
  .dashboard-container {
    justify-content: center;
    align-items: center;
  }

  hr {
    width: 100%;
    border: 1px solid red;
    margin: 30px 0px 30px 0px;
  }

  .hero-title {
    color: red;
    text-align: center;
  }

  .articlepanel-container {
    justify-content: center;
    align-items: center;
  }

  .article-title {
    color: black;
  }

  .article-ul {
    /* padding: 0;
        margin: 0; */
  }

  .article-list-item {
    /* list-style: none;
        float: left;
        width: 35%;
        height: 115px;
        margin: 10px 44px 20px 44px;
        box-sizing: border-box;
        border: 1px solid white;
        border-radius: 15px;
        background: white;
        text-align: center; */
  }

  .article-buttons {
    width: 50px;
  }

  .subregion-title {
    color: black;
  }

  .subregion-ul {
    /* padding: 0;
        margin: 0; */
  }

  .subregion-item {
    /* list-style: none;
        float: left;
        width: 35%;
        height: 115px;
        margin: 10px 44px 20px 44px;
        box-sizing: border-box;
        border: 1px solid white;
        border-radius: 15px;
        background: white;
        text-align: right;
        padding: 5px;
        display: flex;
        flex-direction: row;
        gap: 10px; */
  }

  .subregion-img {
    /* justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 125px;
    height: 100px; */
  }

  .categorylist-container {
    justify-content: center;
    align-items: center;
    /* margin-right: 10%;
        margin-left: 10%; */
  }

  .category-title {
    color: black;
  }

  .category-ul {
    /* padding: 0;
        margin: 0; */
  }

  .category-item {
    /* list-style: none;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 15px;
    background: white;
    text-align: center;
    min-height: 128px;
    width: 100%;
    padding: 5px; */
  }
}
