/* .dashboard-container {
  width: 300px;
} */

.articlepanel-container {
  padding-left: 5%;
  padding-right: 5%;
}

hr {
  width: 100%;
  border: 1px solid red;
  margin: 30px 0px 30px 0px;
}

.hero-title {
  color: red;
  text-align: center;
}

.article-title {
  color: black;
  margin: 10px;
}

.article-img {
  height: 100px;
  width: 100px;
  margin: 5px;
  justify-content: center;
}

.article-source {
  text-decoration: none;
  color: black;
  font-size: 10px;
  margin: 0;
}

.article-source-img {
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin: 5px;
}

.article-ul {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0px 0px;
}

.article-list-item {
  font-size: 14px;
  font-weight: bolder;
  list-style: none;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 15px;
  background: white;
  text-align: center;
  min-height: 160px;
  margin: 10px 10px;
}

.article-list-item > a {
	display: block;
  width: 100%;
  height: 100%;
}

.article-buttons {
  width: 50px;
}

.subregion-title {
  color: black;
  justify-content: right;
  text-align: right;
  font-weight: bolder;
}

.subregion-ul {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 0px;
}

.subregion-item {
  list-style: none;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 15px;
  background: white;
  text-align: center;
  min-height: 128px;
  /* padding: 5px; */
  margin: 10px 10px;
}

.subregion-img {
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
  vertical-align: middle;
}

.categorylist-container {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.category-title {
  color: black;
  font-weight: bolder;
}

.category-ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2%;
}

.category-item {
  list-style: none;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 15px;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.category-img {
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

@media only screen and (min-width: 768px) {
  .articlepanel-container {
    justify-content: center;
    align-items: center;
  }

  .dashboard-container {
    /* width: 700px; */
    justify-content: center;
    align-items: center;
  }

  hr {
    width: 100%;
    border: 1px solid red;
    margin: 30px 0px 30px 0px;
  }

  .hero-title {
    color: red;
    text-align: center;
  }

  .article-title {
    color: black;
    margin: 10px;
  }

  .article-img {
    height: 140px;
    width: 140px;
    margin: 5px;
    justify-content: center;
  }

  .article-source {
    text-decoration: none;
    color: black;
    font-size: 10px;
    margin: 0;
  }

  .article-source-img {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin: 5px;
  }

  .article-ul {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 40px;
  }

  .article-list-item {
    list-style: none;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 15px;
    background: white;
    text-align: center;
    min-height: 160px;
    margin: 10px 10px;
  }

  .article-buttons {
    width: 50px;
  }

  .subregion-title {
    color: black;
    justify-content: right;
    text-align: right;
  }

  .subregion-ul {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 40px;
  }

  .subregion-item {
    list-style: none;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 15px;
    background: white;
    text-align: center;
    min-height: 128px;
    padding: 5px;
    margin: 20px 20px;
  }

  .subregion-img {
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 125px;
    height: 125px;
    vertical-align: middle;
  }

  .categorylist-container {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

  .category-title {
    color: black;
  }

  .category-ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
  }

  .category-item {
    list-style: none;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 15px;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .category-img {
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 80px;
    vertical-align: middle;
  }
}
