@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* .registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  background-image: url('../../images/emergency-response-symbols.jpg');
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../images/emergency-response-symbols.jpg');
  /* flex:1;
} */

.login-button {
  display: block;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 0.3em;
  background-color: #111111;
  color: white;
  padding: 0.3em 0.6em;
  margin: 0.3em auto; 
  margin-top: 20px;
  font-size: 1.5em;
  border: 3px solid transparent;
}

.login-button:hover {
  opacity: 0.7;
  background-color: #333333;
}

.form-text {
  font-family: 'Poppins', sans-serif;
  /* font-weight: bold; */
  padding: 1em;
  font-weight: bolder;
  font-size: 12pt;
  color: white;
}
.need-an-acct {
  text-align: center;
  display: block;
  color: red;
  padding: 0 0.5em;
}

label {
  display: block;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* Full-width input fields */
input[type='text'],
input[type='password'] {
  width: 96%;
  padding: 12px;
  margin: 0px 8px 0 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
}